$colors: (
   "white": hsl(0, 0%, 98%),
   "medium-gray": hsl(0, 0%, 41%),
   "black": hsl(0, 0%, 8%)
);

body.light-theme {
   background-color: map-get($colors, 'white');
}

body.dark-theme {
   background-color: darken(map-get($colors, 'white'), 80);
}

@mixin flex($direction: row, $justify) {
   display: flex;
   flex-direction: $direction;
   justify-content: $justify;
   align-items: center;
}